DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/payload_better_auth
POSTGRES_DB=payload_better_auth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PAYLOAD_SECRET=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
